{% extends "template.html" %}
{% block conteudo %}
    <div class="menu-list">
        <form method="GET" action="{{ url_for('getrecipes') }}">
            <button class="btn btn-link" type="submit">
                <div class="menu">
                    <img src="static/images/cafe-da-manha.png" alt=""> Lanche
                </div>
            </button>
        </form>
        <form method="POST" action="{{ url_for('getrecipes') }}">
            <button class="btn btn-link" type="submit">
                <div class="menu">
                    <img src="static/images/almoço.png" alt=""> Almoço
                </div>
            </button>
        </form>
        <form method="POST" action="{{ url_for('getrecipes') }}">
            <button class="btn btn-link" type="submit">
                <div class="menu">
                    <img src="static/images/janta.png" alt=""> Janta
                </div>
            </button>
        </form>
        <form method="POST" action="{{ url_for('getrecipes') }}">
            <button class="btn btn-link" type="submit">
                <div class="menu">
                    <img src="static/images/lanche.png" alt=""> Extra
                </div>
            </button>
        </form>
    </div>  
{% endblock %}