<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IntelliRecipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header">

    </div>
    <div class="content container">
        <h2>Bem vindo ao IntelliRecipes</h2>        
        <!--criamos um container que vai exibir as mensagens de alerta-->
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <!--condição para as mensagens-->
                <ul id="messages" class="list-unstyled">
                    <!--criamos um laço de repetição para essas mensagens de alerta-->
                {% for message in messages %}
                    <li class="alert alert-danger">{{ message }}</li>
                    <!--chamada da mensagem-->
                {% endfor %}
                <!--fim do for-->
                </ul>
            {% endif %}
            <!--fim do if-->
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["message"]) %}
            {% if messages %}
            <!--condição para as mensagens-->
                <ul id="messages" class="list-unstyled">
                    <!--criamos um laço de repetição para essas mensagens de alerta-->
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                    <!--chamada da mensagem-->
                {% endfor %}
                <!--fim do for-->
                </ul>
            {% endif %}
            <!--fim do if-->
        {% endwith %}
        <form method="POST" action="{{ url_for('auth') }}">
            <p><label>Usuario:</label> <input class="form-control" type="text" name="username" required></p>
            <p><label>Senha:</label> <input class="form-control" type="password" name="password" required></p>
            <p><button class="btn btn-primary" type="submit">Entrar</button></p>
        </form>
        <form method="POST" action="{{ url_for('register') }}">
            <p><button class="btn btn-info" style="justify-content: center;" type="submit">Registrar</button></p>
        </form>
    </div>
    <div class="footer">

    </div>
</body>
</html>