{% extends "template.html" %}
{% block conteudo %}
    <div class="header-recipe">
        Nome: {{recipe.Nome}}
        
    </div>
    <div class="recipe-content">
        Ingredientes:
        <ul>
            {% for ing in recipe.Ingrediente %}
            <li>{{ing}}</li>
            {% endfor %}
        </ul>

        Modo de Preparo:
        <ul>
            {% for mod in recipe.Modo %}
            <li>{{mod}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="recipe-footer">
        <p>
            Rendimento: {{recipe.Rendimento}}
        </p> 
        <p>
            Tempo de preparo: {{recipe.Tempo}}
        </p>
        
    </div>
{% endblock %}