{% extends "template.html" %}
{% block conteudo %}
    <div class="header-recipe">
        Nome: Overnight oats energético
        Tempo de preparo: 5 minutos
    </div>
    <div class="recipe-content">
        Ingredientes:
        <ul>
            <li>1 xicara de chã de aveia</li>
            <li>1 xicara de chã de aveia</li>
            <li>1 xicara de chã de aveia</li>
            <li>1 xicara de chã de aveia</li>
            <li>1 xicara de chã de aveia</li>
        </ul>

        Modo de Preparo:
        <ul>
            <li>1 xicara de chã de aveia</li>
            <li>1 xicara de chã de aveia</li>
            <li>1 xicara de chã de aveia</li>
            <li>1 xicara de chã de aveia</li>
            <li>1 xicara de chã de aveia</li>
        </ul>
    </div>
    <div class="recipe-footer">
        Rendimento: 1 porção

        <p>Dicas: Se quiser diversificar a receita, você também pode substituir metade da medida de café por leite ou servir com iogurte grego. Fica uma delícia.</p> 
    </div>
{% endblock %}